*.pyc
*~
*.sql
*.log
*-log*
config
WorldBank2015/Code/data_pipeline_src/features_and_outcomes.csv
WorldBank2015/Code/data_pipeline_src/test.csv
pipeline_data/complaint_case_projects_and_contracts_20150727_115323.csv
pipeline_data/investigations.csv
pipeline_data/labeled_contracts_cleaned_resolved_feature_gen_1.csv
pipeline_data/latest_contract_web_download.csv
pipeline_data/latest_contract_web_download_cleaned.csv
pipeline_data/latest_contract_web_download_cleaned_feature_gen1.csv
pipeline_data/latest_contract_web_download_cleaned_resolved.csv
pipeline_data/prioritzed_allegations_to_investigate.csv
pipeline_data/project_data.csv
pipeline_data/test.csv
pipeline_data/utf8_investigations.csv
pipeline_data/utf8_new_complaint_data_20150727.csv
